body {
  background-color: var(--very-pale-blue);
  font-family: "Manrope", sans-serif;
  font-weight: 600;

  #root {
    color: var(--dark-desatured-blue);
    width: 375px;
    min-height: 800px;
    margin: 0 auto;
    .cw {
      width: 327px;
      margin: 0 auto;
    }
  }
}

/**
* ? MOBILE ONLY
*/
@media (max-width: 1339px) {
  .no-mobile {
    display: none;
  }
}
/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  body {
    #root {
      width: 1440px;
      margin: 0 auto;
      .cw {
        width: 540px;
        margin: 0 auto;
      }
    }
  }
  .mobile-only {
    display: none;
  }
}
